.box {
                
    border-radius: 25px;              
    background-color: #91DDE8;
    width: 20%;
    border: 12px;
    border-color: black;
    padding: 40px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: 5px 5px #B8DEEC;
              }
              
    html,
          body {
              background-color: white;
              color: black;
    
  }
  
  .center {
                      position:relative;
                      margin-top: 50px;
                      bottom: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
                          
          }